<body background= "/images/BlurClouds.jpg">
 
<ul class="nav nav-tabs">
  <li><a href="#">Home</a></li>
  <li><a href="#">My Profile</a></li>
  <li class="active"><a href="#">Search for Trips</a></li>
  <li><a href="#">My Trips</a></li>
  <li><a href="#">My Advice</a></li>
</ul>


  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h4>Hello, John Doe.  You are logged in.</h4>
          <a class="btn btn-warning btn-small">Sign Out</a>
        </div>
      </div>
    </div>
  </div>  

  <div class="container">
    <div class="jumbotron primary"> 
      <h1 class="text-center">Welcome to Travel-Vice!</h1>
      <h3 class="text-center">Your crowd-sourced solution for travel advice.</h3>
    </div>  
  </div>



<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      
      <li class="All cities">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">All cities<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li><a href="#">Separated link</a></li>
          <li><a href="#">One more separated link</a></li>
        </ul>
      </li>
  <li class="All categories">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">All categories<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li><a href="#">Separated link</a></li>
          <li><a href="#">One more separated link</a></li>
        </ul>
      </li>



    </ul>
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>








<p></p>


<div class="container">
    <div class="row">
      <div class="col-md-12">
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h3>Open Trip Requests</h3></div>

  <!-- Table -->
  <table class="table" border="1">
    <tr>
    <td><b>Trip Name</b></td>
    <td><b>Trip Dates</b></td>
    <td><b>Trip Category</b></td>
    <td><b>User Name</b></td>
    <td><b>Positive User Review %</b></td>
    </tr>
    <tr>
    <td><a href="#">Evanston in October</a></td>
    <td>10/25/13 - 10/30/13</td>
    <td>Leisure- General</td>
    <td>MalibuGreg</td>
    <td>95%</td>
    </tr>
    <tr>
    <td><a href="#">Business Trip to New York</a></td>
    <td>11/2/13 - 11/5/13</td>
    <td>Business</td>
    <td>MiamiMike</td>
    <td>100%</td>
    </tr>
    <tr>
    <td><a href="#">Weekend in the Bay Area</a></td>
    <td>11/8/13 - 11/10/13</td>
    <td>Leisure- Romantic</td>
    <td>Melissa123</td>
    <td>90%</td>
    </tr>
    <tr>
    <td><a href="#">Two months in Idaho</a></td>
    <td>12/1/13 - 2/2/14</td>
    <td>Business</td>
    <td>PotatoGuy07</td>
    <td>35%</td>
    </tr>
    
  </table>
</div>
</div>
</div>


   
<br>
</body>
