<body background= "/images/BlurClouds.jpg">
 
<ul class="nav nav-tabs">
  <li><a href="#">Home</a></li>
  <li><a href="#">My Profile</a></li>
  <li><a href="#">Search for Trips</a></li>
  <li><a href="#">My Trips</a></li>
  <li class="active"><a href="#">My Advice</a></li>
</ul>


  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h4>Hello, John Doe.  You are logged in.</h4>
          <a class="btn btn-warning btn-small">Sign Out</a>
        </div>
      </div>
    </div>
  </div>  


  <div class="container">
    <div class="jumbotron primary"> 
      <h1 class="text-center">Welcome to Travel-Vice!</h1>
      <h3 class="text-center">Your crowd-sourced solution for travel advice.</h3>
    </div>  
  </div>

  
   <div class="container">
    <div class="row">
      <div class="col-md-12">
        <form class="form-inline" role="form">
        <fieldset disabled>
          <label for="disabledTextInput"><h3><strong>Trip Name - Evanston in October:</h3></strong></label>
        <textarea class="form-control" id="disabledinput" rows="5" >I am traveling to Evanston on October 25th through the 30th and want to know where to grab a beer. My wife and I are also looking for daytime activities and would like to know what we should visit. Thanks! - Greg from L.A.</textarea>
        
      </div>
    </div>
   </div>     

 <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h3><strong>My Travel Advice:</strong></h3> 
      </div>  
    </div>   
  </div>        

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <textarea class="form-control" rows="5">Enter your advice here.</textarea>
      </div>
    </div>
   </div>  

<br>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
         <a class="btn btn-primary btn-lg btn-block">Submit My Advice</a>
      </div>  
   </div> 
 </div>
<p></p>

</body>
